<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:theme:realmacsoftware06</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-10-22T00:10:33Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>D42A8702-196F-4054-AA35-B91A411A2883</string>
						<key>PageDigests</key>
						<dict>
							<key>colourtag-theme-default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								v3swdOLNG5hN
								5lUSjLvMTQ==
								</data>
								<key>Size</key>
								<integer>1065</integer>
							</dict>
							<key>css/sidebar/hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wnEKyKFJNzlE
								aKNpJYt7lg==
								</data>
								<key>Size</key>
								<integer>122</integer>
							</dict>
							<key>css/sidebar/left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xHIF1G03Vi9E
								HjTMD5X1xA==
								</data>
								<key>Size</key>
								<integer>202</integer>
							</dict>
							<key>css/sidebar/right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								DbSS0KJQlncv
								rztb7i3FOw==
								</data>
								<key>Size</key>
								<integer>204</integer>
							</dict>
							<key>css/width/1000.css</key>
							<dict>
								<key>Digest</key>
								<data>
								G9nl9JuQK2za
								jgo2cBZ8bg==
								</data>
								<key>Size</key>
								<integer>129</integer>
							</dict>
							<key>css/width/600.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tubHcac+/cqq
								dUQ7GViIPQ==
								</data>
								<key>Size</key>
								<integer>204</integer>
							</dict>
							<key>css/width/700.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EZ3ZL9g7kjCF
								/pi1gNat+Q==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/800.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nwqOQ93Dhom6
								mqANAUi3xA==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/900.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hi6qFTUoeA7A
								oFbfbt3AOQ==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/variable.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Fvx1m+WJlt6S
								wrYXswNz1g==
								</data>
								<key>Size</key>
								<integer>163</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>ie6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/lJglcpP2orc
								cY8ZLyYa2A==
								</data>
								<key>Size</key>
								<integer>31</integer>
							</dict>
							<key>ie7.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0OjayNAyLqq1
								YWLX7G7LdA==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>images/bottom_grad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PPeQBQ+58bGV
								IqUitGkedA==
								</data>
								<key>Size</key>
								<integer>327</integer>
							</dict>
							<key>images/category.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								Dg4nUax+wPyC
								Dm5FeiMF1Q==
								</data>
								<key>Size</key>
								<integer>58</integer>
							</dict>
							<key>images/category.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p04D32bAc53b
								w4EZA+0nHQ==
								</data>
								<key>Size</key>
								<integer>399</integer>
							</dict>
							<key>images/category_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xZxVIbisx8Ct
								7bDg+nuS3g==
								</data>
								<key>Size</key>
								<integer>333</integer>
							</dict>
							<key>images/clock.png</key>
							<dict>
								<key>Digest</key>
								<data>
								q9sjYMncB23J
								tciz7t7gyA==
								</data>
								<key>Size</key>
								<integer>292</integer>
							</dict>
							<key>images/date.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EWTDAQJqljLF
								AzxC15MmYw==
								</data>
								<key>Size</key>
								<integer>333</integer>
							</dict>
							<key>images/permalink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gZ9d1hZjtGRq
								LonuDiLTjw==
								</data>
								<key>Size</key>
								<integer>442</integer>
							</dict>
							<key>images/permalink_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/fdJAKBMH93J
								+o3YRgG6jQ==
								</data>
								<key>Size</key>
								<integer>375</integer>
							</dict>
							<key>images/rss_icon.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								F9AYyNDglw4H
								gF+KP8cPYw==
								</data>
								<key>Size</key>
								<integer>560</integer>
							</dict>
							<key>images/rss_icon_over.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								YxhBTZDfmNZ/
								yZDJ2dFZtA==
								</data>
								<key>Size</key>
								<integer>351</integer>
							</dict>
							<key>images/side_category_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gPlFr24sM6p1
								B3EmxiFPqw==
								</data>
								<key>Size</key>
								<integer>378</integer>
							</dict>
							<key>images/side_clock.png</key>
							<dict>
								<key>Digest</key>
								<data>
								GzHElcMVQiIO
								QbK0BcHGPw==
								</data>
								<key>Size</key>
								<integer>404</integer>
							</dict>
							<key>images/side_clock_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KQKkEET1MjV2
								AY/FRmGqdQ==
								</data>
								<key>Size</key>
								<integer>369</integer>
							</dict>
							<key>images/side_date.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Tn8YZnpNiyLG
								2mXdxhE/8g==
								</data>
								<key>Size</key>
								<integer>456</integer>
							</dict>
							<key>images/side_date_over.png</key>
							<dict>
								<key>Digest</key>
								<data>
								p+/yk/BpcguR
								DfhXLOLaIA==
								</data>
								<key>Size</key>
								<integer>429</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>png/blank.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								VjmOdr5jVa1Z
								mbJiIIoXyQ==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>png/pngbehavior.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								mJQ2Vl45EOal
								gIlTtCq+yw==
								</data>
								<key>Size</key>
								<integer>2029</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lqobWWju3S/l
								F8XKm30XTw==
								</data>
								<key>Size</key>
								<integer>1276</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OCXeFuYY3018
								dE3rlYOmPQ==
								</data>
								<key>Size</key>
								<integer>14092</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:realmacsoftware06</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/realmacsoftware06</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUIVVZUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAQCQoR
				HSAnLDA0ODxASEtPU1UkbnVsbNILDA0QWk5TLm9iamVj
				dHNWJGNsYXNzog4PgAKAC4AP1hITFAwVFhcYGRobHFhO
				b2RlIE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRp
				ZmllciBNYXBYUGFnZSBNYXCAB4ADgAmACoAFgAjSCwwe
				H6CABNIhIiMkWCRjbGFzc2VzWiRjbGFzc25hbWWjJCUm
				XE5TTXV0YWJsZVNldFVOU1NldFhOU09iamVjdNMLKAwp
				KitXTlMua2V5c6CggAbSISItLqMuLyZfEBNOU011dGFi
				bGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMLKAwxMiug
				oIAG0wsoDDU2K6CggAbTCygMOToroKCABtIhIj0/oj4m
				XxASUldSZXNvdXJjZURhdGFiYXNlXxASUldSZXNvdXJj
				ZURhdGFiYXNl1EEMQkNERUZGWENoaWxkcmVuXxASUmVw
				cmVzZW50ZWQgT2JqZWN0VlBhcmVudIAMgA6AAIAA0gsM
				SUqggA3SISJMTaNNTiZeTlNNdXRhYmxlQXJyYXlXTlNB
				cnJhedIhIlBSolEmXxAQUldTb3VyY2VMaXN0Tm9kZV8Q
				EFJXU291cmNlTGlzdE5vZGXSISJUTqJOJhIAAYagXxAP
				TlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8
				AE8AVQBaAGUAbABvAHEAcwB1AIIAiwCVAJ4ArQC2ALgA
				ugC8AL4AwADCAMcAyADKAM8A2ADjAOcA9AD6AQMBCgES
				ARMBFAEWARsBHwE1AUIBSQFKAUsBTQFUAVUBVgFYAV8B
				YAFhAWMBaAFrAYABlQGeAacBvAHDAcUBxwHJAcsB0AHR
				AdMB2AHcAesB8wH4AfsCDgIhAiYCKQIuAAAAAAAAAgEA
				AAAAAAAAVwAAAAAAAAAAAAAAAAAAAkA=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.whohasbeento.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>a David Etkin production &lt;br/&gt; © 2011 Who Has Been To</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>david@davidetkinwebdesign.com</string>
					<key>FavIconUsed</key>
					<true/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>whohasbeento.com</string>
							<key>sftp</key>
							<false/>
							<key>user</key>
							<string>clcelo@whohasbeento.com</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Making the Connection</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Realmac Software '06</string>
					<key>TitleText</key>
					<string>Who Has Been To… ?</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>D42A8702-196F-4054-AA35-B91A411A2883</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
