<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact Us</string>
				<key>PluginClassName</key>
				<string>RWContactFormPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Contact Form</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-10-22T00:10:33Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D42A8702-196F-4054-AA35-B91A411A2883</string>
					<key>PageDigests</key>
					<dict>
						<key>files/mailer.php</key>
						<dict>
							<key>Digest</key>
							<data>
							fIxCBjc8JygSpI9/VzWs
							Jw==
							</data>
							<key>Size</key>
							<integer>8979</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							l+hMb+0JKo32vD8qoFCH
							Yg==
							</data>
							<key>Size</key>
							<integer>5428</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>contact-form</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
